.complement-navbar,
.navbar-custom {
    background-color: #F9F9F9;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
    transition: 1s;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #132235;

}

.navbar-custom .sair:hover .nav-link{
    border: none;
}

.navbar-toggler{
	background:rgba(0,0,0,.5);
}

.navbar {
     box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}